$blue: #5EB1BF;
$dark-blue: #3E5C76;
$red: #D84727;
$text-color: #042A2B;

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

